### Heroes Of Pymoli Data Analysis
* Although the number of male players is higher than female players, female players overall spend slightly more than males (average purchase per person is 4.47 vs 4.07).

* Similarly, although the age group 20-24 is the most crowded and makes the highest total purchase, the players in the age group 35-39 overall spend slightly more (average purchase per person is 4.76 vs 4.32).

* Item 178 is the most popular and most profitable item amongs others.
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [11]:
total_players = len(purchase_data["SN"].value_counts())
print(f'Total number of players = {total_players}')

Total number of players = 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [163]:
item_number = len(purchase_data["Item ID"].value_counts())
average_price = round(purchase_data["Price"].mean(), 2)
no_purchase = purchase_data.shape[0]
total_rev = purchase_data["Price"].sum()
gen_list = [item_number, average_price, no_purchase, total_rev]
gen_df = pd.DataFrame(data=[gen_list])
gen_df.columns = ["Number of unique items", "Average price", "Number of purchases", "Total revenue"]
gen_df.style

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [99]:
gender_count = purchase_data.groupby('Gender')['SN'].nunique()
gender_percent = round(gender_count / gender_count.sum() * 100, 2)
gender_df = pd.concat([gender_count, gender_percent], axis=1)
gender_df.columns = ["Total Count", "Percentage"]
gender_df.style


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [107]:
pur_count = purchase_data.Gender.value_counts()
av_price = round(purchase_data.groupby("Gender")["Price"].mean(), 2)
av_price = '$' + av_price.astype(str)
total_val = round(purchase_data.groupby("Gender")["Price"].sum(), 2)
av_pur_pp = round(total_val / gender_count, 2)
total_val = '$' + total_val.astype(str)
av_pur_pp = '$' + av_pur_pp.astype(str)
purchase_df = pd.concat([pur_count, av_price, total_val, av_pur_pp], axis=1, sort = False)
purchase_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase per Person"]
purchase_df.style

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [97]:
ages= [0, 10, 14, 19, 24, 29, 34, 39, 200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_series = pd.cut(purchase_data.groupby("SN")["Age"].mean(), ages, labels=group_names).value_counts()
age_percent = round(age_series / age_series.sum() * 100, 2)
age_df = pd.concat([age_series, age_percent], axis=1, sort = True)
age_df.columns = ["Total number", "Percentage"]
age_df.style

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [108]:
purchase_data["Age Range"] = pd.cut(purchase_data.Age, ages, labels=group_names)
pur_count_age = purchase_data["Age Range"].value_counts()
av_price_age =  round(purchase_data.groupby("Age Range")["Price"].mean(), 2)
av_price_age = '$' + av_price_age.astype(str)
total_val_age = round(purchase_data.groupby("Age Range")["Price"].sum(), 2)
av_pur_pp_age = round(total_val_age / purchase_data.groupby('Age Range')['SN'].nunique(), 2)
total_val_age = '$' + total_val_age.astype(str)
av_pur_pp_age = '$' + av_pur_pp_age.astype(str)
purchase_df_age = pd.concat([pur_count_age, av_price_age, total_val_age, av_pur_pp_age], axis=1, sort = True)
purchase_df_age.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase per Person"]
purchase_df_age.style

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [159]:
top_sp = purchase_data.groupby("SN")["Price"].sum().nlargest(5)
top_ave_pp = round(purchase_data.groupby("SN").Price.mean().loc[top_sp.index], 2)
top_no_pur = purchase_data.groupby("SN").Price.count().loc[top_sp.index]
top_df = pd.concat([top_no_pur, top_ave_pp, top_sp], axis=1)
top_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
top_df = top_df.sort_values(by='Total Purchase Value', ascending=False)
top_df.head().style

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [160]:
new_df = purchase_data[["Item ID", "Item Name", "Price"]]
pur_count_pop = new_df.groupby(["Item ID", "Item Name"]).count()
total_val_pop = new_df.groupby(["Item ID", "Item Name"])["Price"].sum()
# I used mean function here to get the price, as the prices for the same item would be the same and the mean price won't change the price, but will reduce it to one and give me series to be concatenated.
pur_price = new_df.groupby(["Item ID", "Item Name"]).mean()
pop_df = pd.concat([pur_count_pop, pur_price, total_val_pop], axis=1)
pop_df.columns = ["Purchase Count", "Purchase Price", "Total Purchase Value"]
pop_df = pop_df.sort_values(by='Purchase Count', ascending=False)
pop_df.head().style

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [161]:
profit_df = pop_df.sort_values(by='Total Purchase Value', ascending=False)
profit_df.head().style